In [170]:
#install requirements 
# !pip install matplotlib pandas numpy biopython

---
<h1> Python bootcamp for Beginners </h1>

<h2> Hosted By Lerner's Trainee Asscociation <h2> 

<h3> Day-5 </h3>
    
---

---
<span style="color:blue; font-size: 40px">Understanding Control statements "if else and elif".</span>

---
![](https://www.besanttechnologies.com/wp-content/uploads/2019/05/if-else-statement-1.jpg)

# Overview of Operators

---
# <b> Common Arithmetic Operators:</b>
* ## Addition +: result = 10 + 5
* ## Subtraction -: result = 10 - 5
* ## Multiplication *: result = 10 * 5
* ## Division /: result = 10 / 5
* ## Floor Division //: result = 10 // 3 (returns the quotient)
* ## Modulus %: result = 10 % 3 (returns the remainder)
* ## Exponent **: result = 2 ** 3 (2 raised to the power of 3)
---

---
# <b> Comparison Operators:</b>

* ## Equal ==: result = (x == y)
* ## Not Equal !=: result = (x != y)
* ## Greater Than >: result = (x > y)
* ## Less Than <: result = (x < y)
* ## Greater Than or Equal To >=: result = (x >= y)
* ## Less Than or Equal To <=: result = (x <= y)
---

# <b> Logical Operators:</b>

* ## AND and: result = (x > 0) and (y > 0)
* ## OR or: result = (x > 0) or (y > 0)
* ## NOT not: result = not (x > 0)

---
# <b> Assignment Operators: </b>

* ##  Assignment =: x = 10
* ##  Add and Assign +=: x += 5 (equivalent to x = x + 5)
* ##  Subtract and Assign -=: x -= 5 (equivalent to x = x - 5)
* ## Multiply and Assign *=: x *= 2 (equivalent to x = x * 2)
* ## Divide and Assign /=: x /= 2 (equivalent to x = x / 2)
---

In [29]:
# Check if 20 is equal to 30
print(20 == 30)

# Check if 20 is greater than 30
print(20 > 30)

# Check if 30 is less than 0
print(30 < 0)

# Check if 30 is not equal to 0
print(30 != 0)

# Check if 30 is less than or equal to 31
print(30 <= 31)

# Check if 30 is greater than or equal to 31, and also check if 30 is less than or equal to 31
print(30 >= 31 and 30 <= 31)

# Check if either 30 is greater than or equal to 31 or 30 is less than or equal to 31
print(30 >= 31 or 30 <= 31)

# Check if not equal to 30 is equal to 30
print(not 30 == 30)

# Check if not not equal to 30 is not equal to 30
print(not 30 != 30)

# Check if not greater than or equal to 30 is true
print(not 30 >= 30)

# Check if not equal to 30 is equal to 31
print(not 30 == 31)

False
False
False
True
True
False
True
False
True
False
True

---
* ### How to use operators with control statements:
---

In [34]:
# Check if 20 is equal to 30

if 20 == 30:
    print("Execute further")

In [35]:
# Check if 20 is greater than 30
if 20 > 30:
    print("Execute further")

In [36]:
# Check if 30 is less than 0
if 30 < 0:
    print("Execute further")

In [37]:
# Check if 30 is not equal to 0
if 30 != 0:
    print("Execute further")

Execute further

In [38]:
# Check if 30 is less than or equal to 31
if 30 <= 31:
    print("Execute further")

Execute further

In [39]:
# Check if 30 is greater than or equal to 31, and also check if 30 is less than or equal to 31
if (30 >= 31 and 30 <= 31):
    print("Execute further")

In [40]:
# Check if either 30 is greater than or equal to 31 or 30 is less than or equal to 31
if (30 >= 31 or 30 <= 31):
    print("Execute further")

Execute further

In [41]:
# Check if not equal to 30 is equal to 30
if (not 30 == 30):
    print("Execute further")

In [42]:
# Check if not not equal to 30 is not equal to 30
if (not 30 != 30):
    print("Execute further")

Execute further

In [43]:
# Check if not greater than or equal to 30 is true
if (not 30 >= 30):
    print("Execute further")

In [44]:
# Check if not equal to 30 is equal to 31
if (not 30 == 31):
    print("Execute further")

Execute further

---
* ### "if" with "else": 
---

In [45]:
# Get user input
number = int(input("Enter a number: "))

# Check if the number is even or odd
if number % 2 == 0:
    print(f"{number} is an even number.")
else:
    print(f"{number} is an odd number.")

Enter a number:  5

5 is an odd number.

---
* ### Dealing with multiple control statements
---

In [57]:
# Get user input for the student's score
score = int(input("Enter the student's score: "))

# Check the grade based on the score
if score >= 90:
    print("Grade: A")
    print((score/110)*100)
elif score >= 80:
    print("Grade: B")
    print((score/110)*100)
elif score >= 70:
    print("Grade: C")
    print((score/110)*100)
elif score >= 60:
    print("Grade: D")
    print((score/110)*100)
else:
    print("Grade: F")
    print((score/110)*100)

Enter the student's score:  70

Grade: C
63.63636363636363

---
* ### Dealing with  multiple control statements and conditions:
---

In [46]:
# Get user input for age and whether the person has a driver's license
age = int(input("Enter your age: "))
has_license = input("Do you have a driver's license? (yes/no): ").lower()

# Check eligibility for driving based on age and license status
if age >= 18 and has_license == "yes":
    print("You are eligible to drive.")
elif age >= 16 and has_license == "yes":
    print("You can drive, but with restrictions.")
elif age < 16 and has_license == "yes":
    print("You are not allowed to drive.")
elif age >= 18 and has_license == "no":
    print("You can apply for a driver's license.")
else:
    print("You are not eligible to drive.")

Enter your age:  12
Do you have a driver's license? (yes/no):  yes

You are not allowed to drive.

---
* ### Nested Control statements; multiple levels of decision-making:
---

In [ ]:
# Get user input for a number
number = int(input("Enter a number: "))

# Check the value and sign of the number
if number > 0:
    print("The number is positive.")
    
    # Nested if to check if the number is even or odd
    if number % 2 == 0:
        print("The number is also even.")
    else:
        print("The number is odd.")
elif number == 0:
    print("The number is zero.")
else:
    print("The number is negative.")

---
<span style="color:blue; font-size: 40px"> A brief overview of a `for` and `while` loop.</span>

---
![](https://cdn-icons-png.flaticon.com/512/1248/1248831.png)

---
* # `for loop`
---

In [47]:
# For loop
for i in range(5):
    print(i)

0
1
2
3
4

In [48]:
# Define a list of numbers
numbers = [1, 2, 3, 4, 5]

# Iterate over the list and calculate the square of each number
for number in numbers:
    square = number ** 2
    print(f"The square of {number} is {square}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

In [49]:
# Create an empty list to store squared numbers
squared_numbers = []

# Generate a list of numbers (e.g., 1 to 5) and square each number
for number in range(1, 6):
    squared = number ** 2
    squared_numbers.append(squared)

# Print the final list of squared numbers
print("Squared Numbers:", squared_numbers)

Squared Numbers: [1, 4, 9, 16, 25]

In [53]:
# Define a list of numbers
numbers = [1, 2, 3, 4, 5]

# Iterate over the list and calculate the square of each number
for i, number in enumerate(numbers):
    square = number ** 2
    print(f" index_{i} The square of {number} is {square}")

 index_0 The square of 1 is 1
 index_1 The square of 2 is 4
 index_2 The square of 3 is 9
 index_3 The square of 4 is 16
 index_4 The square of 5 is 25

In [50]:
# Dictionary representing student grades
student_grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78,
    'David': 95,
    'Eva': 88
}

# Iterate over the dictionary using a for loop
for student, grade in student_grades.items():
    print(f"{student}'s grade is {grade}")

Alice's grade is 85
Bob's grade is 92
Charlie's grade is 78
David's grade is 95
Eva's grade is 88

In [58]:
# List of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Iterate over the list and print only even numbers
for number in numbers:
    if number % 2 == 0:
        print(f"{number} is an even number.")
    else:
        print(f"{number} is an odd number.")

#Q How to separate odd and even numbers in two separate list?

1 is an odd number.
2 is an even number.
3 is an odd number.
4 is an even number.
5 is an odd number.
6 is an even number.
7 is an odd number.
8 is an even number.
9 is an odd number.
10 is an even number.

In [60]:
# Nested loop to create a multiplication table
for i in range(1, 6):  # Outer loop for the rows
    print("####################################")
    for j in range(1, 11):  # Inner loop for the columns
        result = i * j
        print(f"{i} x {j} = {result}")

####################################
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
####################################
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
####################################
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
####################################
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
####################################
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [66]:
# Using continue in a for loop

for i in range(1, 6):
    if i == 3:
        print("Skipping iteration for i =", i)
        continue
    print("Processing iteration for i =", i)

Processing iteration for i = 1
Processing iteration for i = 2
Skipping iteration for i = 3
Processing iteration for i = 4
Processing iteration for i = 5

In [67]:
# Using break in a for loop

for i in range(1, 6):
    if i == 3:
        print("Breaking out of the loop for i =", i)
        break
    print("Processing iteration for i =", i)

Processing iteration for i = 1
Processing iteration for i = 2
Breaking out of the loop for i = 3

---
* # `while` loop
---

---
<span style="color:blue; font-size: 40px"> Importing a Module.</span>

---
![](https://cdn-icons-png.flaticon.com/512/5133/5133626.png)

### from toolbox get hammer

In [ ]:
#!pip install pandas biopython

import numpy as np
import pandas as pd
import biopython

In [79]:
protein_sequence = "MAGHGTFAWPL"

# Initialize an empty dictionary to store amino acid frequencies
amino_acid_freq = {}

# Loop through each amino acid in the protein sequence
for amino_acid in protein_sequence:
    # Check if the amino acid is already in the dictionary
    if amino_acid in amino_acid_freq:
        # If it's present, increment the count
        amino_acid_freq[amino_acid] += 1
    else:
        # If it's not present, add it to the dictionary with count 1
        amino_acid_freq[amino_acid] = 1

# Print the amino acid frequencies
print("Amino Acid Frequencies:")
for amino_acid, count in amino_acid_freq.items():
    print(f"{amino_acid}: {count}")

Amino Acid Frequencies:
M: 1
A: 2
G: 2
H: 1
T: 1
F: 1
W: 1
P: 1
L: 1

In [49]:
from Bio.Seq import Seq

# List of DNA sequences
dna_sequences = ["ATGC", "CTAATG", "GAGAGAGA", "TATCGATCGA"]

# Create a list to store Biopython Seq objects
biopython_seqs = [Seq(seq) for seq in dna_sequences]

# Display original DNA sequences
print("Original DNA Sequences:")
for seq in dna_sequences:
    print(seq)

# Display reverse complements using Biopython
print("\nReverse Complements:")
for biopython_seq in biopython_seqs:
    reverse_complement = biopython_seq.reverse_complement()
    print(reverse_complement)

Original DNA Sequences:
ATGC
CTAATG
GAGAGAGA
TATCGATCGA

Reverse Complements:
GCAT
CATTAG
TCTCTCTC
TCGATCGATA

In [211]:
import pandas as pd
import matplotlib.pyplot as plt

# Create a dictionary with sample data
data = {
    'Name': ['employee_1', 'employee_2', 'employee_3', 'employee_4', 'employee_5'],
    'Age': [25, 30, 35, 28, 22],
    'Salary': [50000, 60000, 75000, 48000, 55000]
}

# Convert the dictionary to a Pandas DataFrame
df = pd.DataFrame(data)

df

         Name  Age  Salary
0  employee_1   25   50000
1  employee_2   30   60000
2  employee_3   35   75000
3  employee_4   28   48000
4  employee_5   22   55000

In [213]:
# Example: Creating peptides from a protein sequence

# Protein sequence
protein_sequence = "MAGVHIKLSLKGJDNSRWTYQLENAVMCDAGNPNNKLSGWMRVLEDAFVXITSSDSCFE"

# Define the length of each peptide
peptide_length = 10

# Create a list to store peptides
peptides = []

# Generate peptides using list slicing
for i in  [1, 3, 5, 6, 7, 8]:
    peptide = protein_sequence[i+2:i+10]
    peptides.append(peptide)

# Display the original protein sequence
print("Original Protein Sequence:")
print(protein_sequence)

# Display the generated peptides
print("\nGenerated Peptides:")
for i, peptide in enumerate(peptides, 1):
    print(f"Peptide {i}: {peptide}: ")

#How to print peptide length

Original Protein Sequence:
MAGVHIKLSLKGJDNSRWTYQLENAVMCDAGNPNNKLSGWMRVLEDAFVXITSSDSCFE

Generated Peptides:
Peptide 1: VHIKLSLK:
Peptide 2: IKLSLKGJ:
Peptide 3: LSLKGJDN:
Peptide 4: SLKGJDNS:
Peptide 5: LKGJDNSR:
Peptide 6: KGJDNSRW:

In [61]:
# Accessing entrez Database
entrez_ids = [
    '345678', '901234', '567890', '234567', '890123',
    '456789', '012345', '678901', '234567', '890123',
    '456789', '012345', '678901', '234567', '890123',
    '567890', '234567'
]

In [199]:
# Q: Can you tell  me the number of unique IDS
# Q: Can you print(last three)
# Q: Can you append this id to list (Y000000)

In [62]:
from Bio import Entrez, SeqIO

# Provide your email address to identify yourself to NCBI
Entrez.email = "your.email@example.com"

# Search for the COX-2 gene in humans


search_query = "Homo sapiens COX-2"
handle = Entrez.esearch(db="nucleotide", term=search_query, sort="relevance", idtype="acc")
record = Entrez.read(handle)
gene_id = record["IdList"][0]

# Fetch the gene sequence
handle = Entrez.efetch(db="nucleotide", id='678901', rettype="gb", retmode="text")
record = SeqIO.read(handle, "genbank")
gene_sequence = record.seq

# Display the gene sequence

print(gene_sequence)

TCCATTTAATTNGTATTTATTGAGTCATGGCTCTGTACTGTTAGGCATTTGGGAATACAGAGATGAGACAGACAAAGGCCCTGCCCCAAGGAACTTACAGTCTAGCACAAAAACAGACCAAAAAAGTGTAGTTTCAATGACGTGTAACAGAGAGTTAAGAAGGAAATGCAAGGGGCCATGGGAACACTGTGCAGAAATATTTAACTTAGTCTAGGGGGACAGGGAAGGCTTCCCCAAAGGAGAAGTGTGGATACCTCTGACAGGGCGAGATTTAGCATGGCCTCTCTTGGGTGCTATGTGTTCCTTCATGATCGGCTTCACTTCCGGCCTCATCTGCCATTTTATAGCTCTTGCTTTTCAAATGTGGGGAGTCTCCTCTGTTGTAACTCGTGCTACTAGGTAAATTGTTTGCTGTTAACTTTGAGGATTTACCNCGGGGNAGGGGAATTCAGCTATCCCGG

In [203]:
restriction_site = 'CATACA'


gene_sequence = "ATGCTCGCCCGCGCCCTGCTGCTGTGCGCGGTCCTGGCGCTCAGCCATACAGCAAATCCTTGCTGTTCCCACCCATGTCAAAACCGAGGTGTATGTATGAGTGTGGGATTTGACCAGTATAAGTGCGATTGTACCCGGACAGGATTCTATGGAGAAAACTGCTCAACACCGGAATTTTTGACAAGAATAAAATTATTTCTGAAACCCACTCCAAACACAGTGCACTACATACTTACCCACTTCAAGGGATTTTGGAACGTTGTGAATAACATTCCCTTCCTTCGAAATGCAATTATGAGTTATGTGTTGACATCCAGATCACATTTGATTGACAGTCCACCAACTTACAATGCTGACTATGGCTACAAAAGCTGGGAAGCCTTCTCTAACCTCTCCTATTATACTAGAGCCCTTCCTCCTGTGCCTGATGATTGCCCGACTCCCTTGGGTGTCAAAGCACTTCACGCATCAGTTTTTCAAGACAGATCATAAGCGAGGGCCAGCTTTCACCAACGGGCTGGGCCATGGGGTGGACTTAAATCATATTTACGGTGAAACTCTGGCTAGACAGCGTAAACTGCGCCTTTTCAAGGATGGAAAAATGAAATATCAGATAATTGATGGAGAGATGTATCCTCCCACAGTCAAAGATACTCAGGCAGAGATGATCTACCCTCCTCAAGTCCCTGAGCATCTACGGTTTGCTGTGGGGCAGGAGGTCTTTGGTCTGGTGCCTGGTCTGATGATGTATGCCACAATCTGGCTGCGGGAACACAACAGAGTATGCGATGTGCTTAAACAGGAGCATCCTGAATGGGGTGATGAGCAGTTGTTCCAGACAAGCAGGCTAATACTGATAGGAGAGACTATTAAGATTGTGATTGAAGATTATGTGCAACACTTGAGTGGCTATCACTTCAAACTGAAATTTGACCCAGAACTACTTTTCAACAAACAATTCCAGTACCAAAATCGTATTGCTGCTGAATTTAACACCCTCTATCACTGGCATCCCCTTCTGCCTGACACCTTTCAAATTCATGACCAGAAATACAACTATCAACAGTTTATCTACAACAACTCTATATTGCTGGAACATGGAATTACCCAGTTTGTTGAATCATTCACCAGGCAAATTGCTGGCAGGGTTGCTGGTGGTAGGAATGTTCCACCCGCAGTACAGAAAGTATCACAGGCTTCCATTGACCAGAGCAGGCAGATGAAATACCAGTCTTTTAATGAGTACCGCAAACGCTTTATGCTGAAGCCCTATGAATCATTTGAAGAACTTACAGGAGAAAAGGAAATGTCTGCAGAGTTGGAAGCACTCTATGGTGACATCGATGCTGTGGAGCTGTATCCTGCCCTTCTGGTAGAAAAGCCTCGGCCAGATGCCATCTTTGGTGAAACCATGGTAGAAGTTGGAGCACCATTCTCCTTGAAAGGACTTATGGGTAATGTTATATGTTCTCCTGCCTACTGGAAGCCAAGCACTTTTGGTGGAGAAGTGGGTTTTCAAATCATCAACACTGCCTCAATTCAGTCTCTCATCTGCAATAACGTGAAGGGCTGTCCCTTTACTTCATTCAGTGTTCCAGATCCAGAGCTCATTAAAACAGTCACCATCAATGCAAGTTCTTCCCGCTCCGGACTAGATGATATCAATCCCACAGTACTACTAAAAGAACGTTCGACTGAACTGTAG"

In [204]:
current_index = gene_sequence.find(restriction_site)

In [208]:

len(gene_sequence.split('CATACA'))

2

Standard Deviation: 2.8722813232690143

Standard Deviation along axis 1: [ 2.87228132 29.15475947]

In [7]:
!pip install biopython

Collecting biopython
  Downloading biopython-1.81-cp39-cp39-macosx_10_9_x86_64.whl (2.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 4.0 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: numpy in /Users/joshij/miniconda3/envs/GiN-Dev/lib/python3.9/site-packages (from biopython) (1.25.2)
Installing collected packages: biopython
Successfully installed biopython-1.81

In [65]:
from Bio import Entrez

def fetch_protein_sequence(accession_number):
    # Provide your email address to NCBI
    Entrez.email = "your_email@example.com"

    # Specify the database (e.g., "protein") and the accession number
    database = "protein"
    accession = accession_number

    # Fetch the record using Entrez.efetch
    handle = Entrez.efetch(db=database, id=accession, rettype="fasta", retmode="text")
    record = handle.read()

    # Close the handle
    handle.close()

    return record

# Example: Fetching a protein sequence for a specific accession number
accession_number = "P38398"  # Replace with your desired accession number
protein_sequence = fetch_protein_sequence(accession_number)

print(protein_sequence)

>sp|P38398.2|BRCA1_HUMAN RecName: Full=Breast cancer type 1 susceptibility protein; AltName: Full=RING finger protein 53; AltName: Full=RING-type E3 ubiquitin transferase BRCA1
MDLSALRVEEVQNVINAMQKILECPICLELIKEPVSTKCDHIFCKFCMLKLLNQKKGPSQCPLCKNDITK
RSLQESTRFSQLVEELLKIICAFQLDTGLEYANSYNFAKKENNSPEHLKDEVSIIQSMGYRNRAKRLLQS
EPENPSLQETSLSVQLSNLGTVRTLRTKQRIQPQKTSVYIELGSDSSEDTVNKATYCSVGDQELLQITPQ
GTRDEISLDSAKKAACEFSETDVTNTEHHQPSNNDLNTTEKRAAERHPEKYQGSSVSNLHVEPCGTNTHA
SSLQHENSSLLLTKDRMNVEKAEFCNKSKQPGLARSQHNRWAGSKETCNDRRTPSTEKKVDLNADPLCER
KEWNKQKLPCSENPRDTEDVPWITLNSSIQKVNEWFSRSDELLGSDDSHDGESESNAKVADVLDVLNEVD
EYSGSSEKIDLLASDPHEALICKSERVHSKSVESNIEDKIFGKTYRKKASLPNLSHVTENLIIGAFVTEP
QIIQERPLTNKLKRKRRPTSGLHPEDFIKKADLAVQKTPEMINQGTNQTEQNGQVMNITNSGHENKTKGD
SIQNEKNPNPIESLEKESAFKTKAEPISSSISNMELELNIHNSKAPKKNRLRRKSSTRHIHALELVVSRN
LSPPNCTELQIDSCSSSEEIKKKKYNQMPVRHSRNLQLMEGKEPATGAKKSNKPNEQTSKRHDSDTFPEL
KLTNAPGSFTKCSNTSELKEFVNPSLPREEKEEKLETVKVSNNAEDPKDLMLSGERVLQTERSVESSSIS
LVPGTDYGTQESISLLEVSTLGKAKTEPNKCVSQCAAFENPKGLIHGCSKDNRNDTEGFKYPLGHEVNHS
RETSIEMEESELDAQYLQNTFKVSKRQSFAPFSNPGNAEEECATFSAHSGSLKKQSPKVTFECEQKEENQ
GKNESNIKPVQTVNITAGFPVVGQKDKPVDNAKCSIKGGSRFCLSSQFRGNETGLITPNKHGLLQNPYRI
PPLFPIKSFVKTKCKKNLLEENFEEHSMSPEREMGNENIPSTVSTISRNNIRENVFKEASSSNINEVGSS
TNEVGSSINEIGSSDENIQAELGRNRGPKLNAMLRLGVLQPEVYKQSLPGSNCKHPEIKKQEYEEVVQTV
NTDFSPYLISDNLEQPMGSSHASQVCSETPDDLLDDGEIKEDTSFAENDIKESSAVFSKSVQKGELSRSP
SPFTHTHLAQGYRRGAKKLESSEENLSSEDEELPCFQHLLFGKVNNIPSQSTRHSTVATECLSKNTEENL
LSLKNSLNDCSNQVILAKASQEHHLSEETKCSASLFSSQCSELEDLTANTNTQDPFLIGSSKQMRHQSES
QGVGLSDKELVSDDEERGTGLEENNQEEQSMDSNLGEAASGCESETSVSEDCSGLSSQSDILTTQQRDTM
QHNLIKLQQEMAELEAVLEQHGSQPSNSYPSIISDSSALEDLRNPEQSTSEKAVLTSQKSSEYPISQNPE
GLSADKFEVSADSSTSKNKEPGVERSSPSKCPSLDDRWYMHSCSGSLQNRNYPSQEELIKVVDVEEQQLE
ESGPHDLTETSYLPRQDLEGTPYLESGISLFSDDPESDPSEDRAPESARVGNIPSSTSALKVPQLKVAES
AQSPAAAHTTDTAGYNAMEESVSREKPELTASTERVNKRMSMVVSGLTPEEFMLVYKFARKHHITLTNLI
TEETTHVVMKTDAEFVCERTLKYFLGIAGGKWVVSYFWVTQSIKERKMLNEHDFEVRGDVVNGRNHQGPK
RARESQDRKIFRGLEICCYGPFTNMPTDQLEWMVQLCGASVVKELSSFTLGTGVHPIVVVQPDAWTEDNG
FHAIGQMCEAPVVTREWVLDSVALYQCQELDTYLIPQIPHSHY

In [78]:
from Bio import Entrez

accession_number = "P38398" 

# def fetch_metadata(accession_number):
    # Provide your email address to NCBI
Entrez.email = "your_email@example.com"

# Specify the database (e.g., "protein") and the accession number
database = "protein"
accession = accession_number

# Fetch the metadata using Entrez.efetch with retmode="xml"
handle = Entrez.efetch(db=database, id=accession, retmode="xml")
record = Entrez.read(handle)

# Close the handle
handle.close()

# Example: Fetching metadata for a specific accession number
# accession_number = "P38398"  # Replace with your desired accession number
metadata = record

# Print the metadata
for i in metadata[0]['GBSeq_other-seqids']:
    if accession_number not in i:
        print(i)

gi|728984

In [ ]:
#As Yoy mentioned that biologics growsing who is contributing more startups or. established big gients

In [11]:
metadata[0]['GBSeq_sequence']

'mdlsalrveevqnvinamqkilecpiclelikepvstkcdhifckfcmlkllnqkkgpsqcplcknditkrslqestrfsqlveellkiicafqldtgleyansynfakkennspehlkdevsiiqsmgyrnrakrllqsepenpslqetslsvqlsnlgtvrtlrtkqriqpqktsvyielgsdssedtvnkatycsvgdqellqitpqgtrdeisldsakkaacefsetdvtntehhqpsnndlnttekraaerhpekyqgssvsnlhvepcgtnthasslqhenssllltkdrmnvekaefcnkskqpglarsqhnrwagsketcndrrtpstekkvdlnadplcerkewnkqklpcsenprdtedvpwitlnssiqkvnewfsrsdellgsddshdgesesnakvadvldvlnevdeysgssekidllasdphealickservhsksvesniedkifgktyrkkaslpnlshvtenliigafvtepqiiqerpltnklkrkrrptsglhpedfikkadlavqktpeminqgtnqteqngqvmnitnsghenktkgdsiqneknpnpieslekesafktkaepisssisnmelelnihnskapkknrlrrksstrhihalelvvsrnlsppnctelqidscssseeikkkkynqmpvrhsrnlqlmegkepatgakksnkpneqtskrhdsdtfpelkltnapgsftkcsntselkefvnpslpreekeekletvkvsnnaedpkdlmlsgervlqtersvesssislvpgtdygtqesisllevstlgkaktepnkcvsqcaafenpkglihgcskdnrndtegfkyplghevnhsretsiemeeseldaqylqntfkvskrqsfapfsnpgnaeeecatfsahsgslkkqspkvtfeceqkeenqgknesnikpvqtvnitagfpvvgqkdkpvdnakcsikggsrfclssqfrgnetglitpnkhgllqnpyripplfpiksfvktkckknlleenfeehsmsperemgnenipstvstisrnnirenvfkeasssninevgsstnevgssineigssdeniqaelgrnrgpklnamlrlgvlqpevykqslpgsnckhpeikkqeyeevvqtvntdfspylisdnleqpmgsshasqvcsetpddllddgeikedtsfaendikessavfsksvqkgelsrspspfththlaqgyrrgakklesseenlssedeelpcfqhllfgkvnnipsqstrhstvateclsknteenllslknslndcsnqvilakasqehhlseetkcsaslfssqcseledltantntqdpfligsskqmrhqsesqgvglsdkelvsddeergtgleennqeeqsmdsnlgeaasgcesetsvsedcsglssqsdilttqqrdtmqhnliklqqemaeleavleqhgsqpsnsypsiisdssaledlrnpeqstsekavltsqksseypisqnpeglsadkfevsadsstsknkepgversspskcpslddrwymhscsgslqnrnypsqeelikvvdveeqqleesgphdltetsylprqdlegtpylesgislfsddpesdpsedrapesarvgnipsstsalkvpqlkvaesaqspaaahttdtagynameesvsrekpeltastervnkrmsmvvsgltpeefmlvykfarkhhitltnliteetthvvmktdaefvcertlkyflgiaggkwvvsyfwvtqsikerkmlnehdfevrgdvvngrnhqgpkraresqdrkifrgleiccygpftnmptdqlewmvqlcgasvvkelssftlgtgvhpivvvqpdawtedngfhaigqmceapvvtrewvldsvalyqcqeldtylipqiphshy'